.FilterDrinks{
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    height: 100rem;
    background-color: #fff;
    z-index: 999;
    border-bottom: 1px solid #f2f2f2;
    align-items: center;
    justify-content: center;
}
.SearchInput{
width: 650rem;
height: 70rem;
border: none;
border-radius: 14px;
background-color: #f2f2f2;
padding-left: 50rem;
}
.InputOuter{
    position: relative;
    display: flex;
    align-items: center;
}

.Icon{
    font-size: 30rem;
    position: absolute;
    left: 5rem;
}